* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-fra-ita.fra-ita.dix -text
/apertium-fra-ita.fra-ita.lrx -text
/apertium-fra-ita.fra-ita.t1x -text
/apertium-fra-ita.fra-ita.t2x -text
/apertium-fra-ita.fra-ita.t3x -text
/apertium-fra-ita.ita-fra.lrx -text
/apertium-fra-ita.ita-fra.t1x -text
/apertium-fra-ita.ita-fra.t2x -text
/apertium-fra-ita.ita-fra.t3x -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/install-sh -text
/missing -text
/modes.xml -text
