* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fra-ita.fra-ita.dix -text
/apertium-fra-ita.fra-ita.lrx -text
/apertium-fra-ita.fra-ita.t1x -text
/apertium-fra-ita.fra-ita.t2x -text
/apertium-fra-ita.fra-ita.t3x -text
/apertium-fra-ita.ita-fra.lrx -text
/apertium-fra-ita.ita-fra.t1x -text
/apertium-fra-ita.ita-fra.t2x -text
/apertium-fra-ita.ita-fra.t3x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/modes.xml -text
texts/story.fra.txt -text
